PORT=8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://varni:password@kisanhub.gbinuf2.mongodb.net/backend
ACCESS_TOKEN_SECRET=varni
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=patel
REFRESH_TOKEN_EXPIRY=10d